<div class="jumbotron jumbotron-fluid jumbotron1" >
     <h1>Progene</h1>
     <h3>Supplementos</h3>
</div> 

<div class="container-fluid marketing circle-info">
    <section>
        <h2 align="center"> Testemunhos <br/> <br/> </h2>
         <div class="row" id="circle-info smaller-buttons">
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ror" align="center">
                     <%= image_tag("arnold.jpg",  alt: "arnold", class: "img-circle", width: '140', height: '140') %>
                   <h2>Arnold</h2>
                   <p> A melhor qualidade de supplementos. E a melhor staff aqui em luanda. </p>
                   <p> <%= link_to "View Details <span class='glyphicon glyphicon-menu-right' aria-hidden='true'></span>".html_safe, products_path, class: "hero-cta" %></p>
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ror" align="center" >
                     <%= image_tag("coleman.jpg",  alt: "like", class: "img-circle", width: '140', height: '140') %>
                   <h2>Coleman</h2>
                   <p>Loja essencial para todos membros do mundo de fitness!</p>
                   <p> <%= link_to "View Details <span class='glyphicon glyphicon-menu-right' aria-hidden='true'></span>".html_safe, products_path, class: "hero-cta" %></p>
                 </div>
      </div>
      </section>
         
</div>